.container {               /* Общий фон и оболочка */
    display: flex;
    flex-direction: row;
    height: 650px;
    width: 1900px;
    background: #ffffff;
}

.left-column {                       /* Левая колонна со страницами */
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    height: 85%;
    padding: 30px;
    border: 3px solid #dedede;
    border-radius: 5px;
    font-size: 140%;
}

.img {
    position: absolute;
    z-index: 9999;
    margin-top: 45px;
    margin-left: 15px;
}

.tabs {          /* Блок 4 вкладок страниц */
    width: 100%;
    text-decoration: none;
    list-style-type: none;
}
.tabs li {         /* Расстояние между вкладками */
    margin-bottom: 20px;

}

.content {               /* Большой блок Середины */
    display: flex;
    grid-column-end: span 3;
    margin: 0 20px;
    width: 55%;
    height: 85%;
}

.labels1 {        /* Блок чисто с вводом данных */
    display: grid;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
    width: 35%;
    font-size: 18px;
    font-weight: bold;
}
.labels1 div {    /* Расстояние между блоками в середине */
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px;
}

.labels2 {        /* Блок чисто с вводом данных */
    display: grid;
    justify-content: center;
    margin-top: 5px;
    margin-left: 40px;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
}
.labels2 div {    /* Расстояние между блоками в середине */
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
}

.labels3 {        /* Блок чисто с вводом данных */
    display: grid;
    justify-content: center;
    margin-top: 5px;
    margin-left: 40px;
    width: 35%;
    font-size: 18px;
    font-weight: bold;

}
.labels3 div {    /* Расстояние между блоками в середине */
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
}

.bb {
    margin-top: 5px;
    text-align: center;
}


.right-column {           /* Результат Калькуляций */
    flex-direction: column;
    display: grid;
    justify-content: center;
    background-color: #fff;
    height: 50%;
    width: 45%;
}

.calories {        /* Высота между результатами калорий */
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 6px 3px 3px #262525;
}


input[type='submit'] {
    font-family: "Acumin Pro";
    background-color: #171717;
    border: none;
    color: white;
    padding: 11px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 20px;
    margin: 5px 5px;
    border-radius: 10px;
}


.peopleTable {
    border-collapse: collapse;
    width: 100%;
}

.peopleTable td, .peopleTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.peopleTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.peopleTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.peopleTable tr:hover {
    background-color: #f5f5f5;
}


.rationTable {
    border-collapse: collapse;
    width: 100%;
}

.rationTable td, .rationTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.rationTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.rationTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.rationTable tr:hover {
    background-color: #f5f5f5;
}

.custom-input {
    position: relative;
}

input[type="text"] {
    background: #f3f3f3;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    border: white;
}

input[type="text"]:focus {
    outline: none;
    border-color: #9392b7;
    box-shadow: 0 0 5px #676786;
}


input[type="number"] {
    background: #f3f3f3;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    border: white;
}

input[type="number"]:focus {
    outline: none;
    border-color: #9392b7;
    box-shadow: 0 0 5px #676786;
}

select {
    padding: 10px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ffffff;
    background: #f3f3f3;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

select option {
    padding: 10px;
}

select option:hover {
    background: #f9f9f9;
}

select option:checked {
    background: #f1f1f1;
}